
/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */

body{
    background-color: black;
    color: aqua;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

        /*GRID*/

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 800px 450px 200px;
    grid-template-areas:
        "header header"
        "section1 section1"
        "section-activities section-aboutus"
        "footer footer";
    

}

.header{
    grid-area: header;
}

.section1{
    grid-area: section1;
}

.section-activities{
    grid-area: section-activities;
}

.section-aboutus{
    grid-area: section-aboutus;
    border-left: solid 1px gray;
}

.footer{
    grid-area: footer;
    background-color: rgba(128, 128, 128, 0.459);
}

    /* END GRID */


             /*Barra de Navegación*/

.menuContainer{
    background-color: black;
    color: gray;
    display: flex;
    justify-content: space-between;
     position: fixed;
    width: 100%;

}

.menuContainer ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.menuContainer ul li{
    font-size: medium;
    align-items: center;
    margin-left: 30px;
}

.bar{
    color: gray;
    text-decoration: none;
    border-radius: 100px;
}
.bar:hover{
    color: rgba(255, 255, 255, 0.854);
}

.butLog{
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.122);
    color: gray;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    
    text-decoration: none;

}
.butLog:hover{
    background-color: aqua;
}

.logo{
    width: 40px;
    height: 40px;
    padding: 15px auto;
}

.logoIndex{
    width: 110px;
    height: 40px;
    padding: 15px auto;
}

                 /*sections*/

        /*section img*/


.img-inicio{
    background-image: url(../img/imgproyect.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;

    
    
}


.frase{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: xx-large;
    padding-top: 14rem;
    text-align: center;
}



             /*activities*/

.activitiesContainer{
    display: flex;
    flex-direction: column;
}

.activitiesTitle{
    font-size: xx-large;
    text-align: center;

}


.activities ul{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;


}

.activities ul li{
    display: flex;

}



.cfc{
    border: solid 5px gray;
    background-color: black;
    color: aqua;
    border-radius: 15px;
    padding: 30px;
    font-size: xx-large;
    text-decoration: none;

}

.cfc:hover{
    background-color: rgba(128, 128, 128, 0.308);

}



                         /*about us*/

.aboutUsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}



.aboutUsTitle{
    text-align: center;
    font-size: x-large;


}

.aboutUsText{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0px 20%;

}

                /* CONTACT US */

.contact-us-container{
    display: none;
}



                        /*footer*/



 .footerContainer{
    display: flex;
    flex-direction: column;



}

.footerContainer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    list-style: none;



}

.footerContainer ul li{

}

.social{
    text-align: center;
    font-size: larger;

}



                /*Contact*/


        /* GRID */

 .grid-contact-container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 80px 680px 200px;
    grid-template-areas:
        "header-contact"
        "section-contact"
        "footer"
    ;
    
    
}

.header-contact{
    grid-area: header-contact;
}

.section-contact{
    grid-area: section-contact;
 }

.footer{
    grid-area: footer;
}

        /* END GRID */


.contactContainer{
    background-image: url(../img/contact-img.jpeg);
    background-size: cover;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}

.contactTitle{
    text-align: center;
    font-size: xx-large;
}

.contactForm{
    width: 400px;
    height: 340px;
    text-align: center;
    padding: 20px 30px;

}

.inputContact{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 10px;
    margin-top: 10px;

}

.buttonContact{
    background-color: gray;
    color: aqua;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    font-size: large;
}

.buttonContact:hover{
    background-color: rgba(128, 128, 128, 0.754);
}



                /*activities pag2*/

        /* GRID */

 .grid-activities-container{
     display: grid;

     grid-template-columns: 1fr ;
     grid-template-rows: 80px 550px 200px;
     grid-template-areas:
        "header-activities"
        "section-activities2"
        "footer"
     ;
}

.header-activities{
    grid-area: header-activities;
}

.section-activities2{
    grid-area: section-activities2;
}

.footer{
    grid-area: footer;
}

       /* END GRID */



.activitiesContainer2{

   display: flex;
   flex-direction: column;
   justify-content: center;

}

.activitiesTitle2{
    display: flex;
    justify-content: center;
    font-size: xx-large;

}


.activities2 ul{
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-align: center;



}





                 /*about us pag 2*/

        /* GRID */

.grid-aboutus-container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 80px 550px 200px;
    grid-template-areas:
        "header-aboutus"
        "section-aboutus2"
        "footer"
        ;
}

.header-aboutus{
           grid-area: header-aboutus;
       }

.section-aboutus2{
           grid-area: section-aboutus2;
       }

.footer{
 grid-area: footer;
 }

    /* END GRID */

 .aboutUsContainer2{
    display: flex;
    flex-direction: column;

}

.aboutUsTitle2{
    text-align: center;
    font-size: xx-large;


}

.aboutUsText2{
    display: inline-block;
    text-align: justify;
    margin: 0px 400px;

}



                        /*lOG IN pag 2*/


.bodyLogIn{
    background-color: rgb(0, 0, 0);
}

.logoContainer2{
    background-color: black;
    text-align: center;
}

.logLogo{
    width: 70px;
    height: 70px;
    padding: 10px;

}

.logInContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

    
}

.LogInTitle{
    text-align: center;
    font-size: xx-large;
}

.LogInForm{
    width: 400px;
    height: 340px;
    text-align: center;
    
    border-radius: 5px;
}

.submitButton{
    background-color: blue;
    color: white;
    padding: 10px 90px;
    border: none;
    border-radius: 5px;
    font-size: large;
}

.inputLogin{
    width: 80%;
    margin-bottom: 15px;
    padding: 10px 10px;
}




        /*calistenics funcional crossfit PAGES*/

        /* GRID */

.grid-cafucr-container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 80px 1fr 200px;
    grid-template-areas:
        "header-cafucr"
        "section-cafucr"
        "footer"
        ;
}

.header-cafucr{
           grid-area: header-cafucr;
       }

.section-cafucr{
           grid-area: section-cafucr;
       }

.footer{
 grid-area: footer;
 }

        /* END GRID */

.calistenicsContainer, .funcionalContainer, .crossfitContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: solid 5px gray; */
    border-radius: 5px;
    
}

.calistenicsTitle, .funcionalTitle, .crossfitTitle{
    font-size: x-large;
    padding: 20px;

}

.calistenicsText, .funcionalText, .crossfitText{
    margin: 50px;
    font-size: larger;
    line-height: 2rem;

}

.calistenicsContainer{
    background-image: url(../img/Calisteniaimg.jpeg);
    background-size: cover;
    padding-bottom: 7rem;
}

.crossfitContainer{
    background-image: url(../img/crossfit-img.jpg);
    background-size: cover;
    padding-bottom: 11rem;
}

.funcionalContainer{
    background-image: url(../img/funcionalimg.jpg);
    background-size: cover;
    padding-bottom: 9rem;
}



                        /* MEDIA Tablet */


@media (max-width: 768px) {
    
    .grid-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 2fr 1fr 1fr 200px 200px;
        grid-template-areas: 
        "header" 
        "section1" 
        "section-activities" 
        "section-aboutus"
        "section-contact-us" 
        "footer"
        ;
    }

        

    .header{
        grid-area: header;
    }

    .section1{
        grid-area: section1;
    }

    .section-activities{
        grid-area: section-activities;
    }

    .section-aboutus{
        grid-area: section-aboutus;
        border-top: solid 1px gray;
        border-radius: 30px;
        border-bottom: solid 1px gray;
        border-left: none;
    }

    .section-contact-us{
        grid-area: section-contact-us;
    }

    .footer{
        grid-area: footer;
        background-color: rgba(128, 128, 128, 0.459);
    }



                /*Barra de navegacion*/


    
    .menuContainer{
        display: flex;
        justify-content: space-around;
    }
    .menuBar{
        display: flex;
        align-items: center;
    }

    
    .logo{
        width: 50px;
        height: 50px;
    }

    .img-inicio{
        height: 100%;
    }

    .frase{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 40px;
        

    }

    .activitiesContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .activitiesTitle{
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    
    .activities ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }

    .activities ul li{
        text-align: center;
        
    }

    .cfc{
        padding: 5px 120px;
        text-align: center;
        margin: 10px 0px;
        margin-right: 20px;
        
    }

    .aboutUsContainer{
        padding-top: 60px;
    }

    .contact-us-container{
        display: flex;

        justify-content: center;
        align-content: center;
        padding-top: 60px;
    }


    .but-contact{
        font-size: xx-large;
        text-decoration: none;
        color: aqua;
        border: solid 1px gray;
        border-radius: 10px;
        padding: 5px 50px;
    }

    .but-contact:hover{
        background-color: rgba(128, 128, 128, 0.739);
        box-shadow: gray;
        color: black;
        
    }

    .footerContainer ul{
        display: flex;
        flex-direction: column;
        
    }

    .footerContainer ul li{
        margin-bottom: 10px;
    }


}


                   /* MEDIA CELU */


    @media (max-width:320px){

        .grid-container {
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 50px 1fr 1fr 1fr 150px 200px;
            grid-template-areas: 
            "header" 
            "section1" 
            "section-activities" 
            "section-aboutus"
            "section-contact-us" 
            "footer"
            ;
        }
    
            
    
        .header{
            grid-area: header;
        }
    
        .section1{
            grid-area: section1;
        }
    
        .section-activities{
            grid-area: section-activities;
        }
    
        .section-aboutus{
            grid-area: section-aboutus;
            border-top: solid 1px gray;
            border-radius: 30px;
            border-bottom: solid 1px gray;
            border-left: none;
        }
    
        .section-contact-us{
            grid-area: section-contact-us;
        }
    
        .footer{
            grid-area: footer;
            background-color: rgba(128, 128, 128, 0.459);
        }

                /* BARRA NAV */

        .menuContainer ul li{
            margin-left: 0%;
        }

        .butLog{
            display: flex;
            font-size: x-small;
            margin: 0%;
        
            
        }
    

        .logo{
            width: 40px;
            height: 40px;
    
        }        
    
                /* SECTION IMG */

        .frase{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 40px;
            font-size: medium;
            padding-top: 9rem;
            
    
        }

        .img-inicio{
            height: 100%;
            width: 100%;
        }

            /* ACTIVITIES */

        .activitiesTitle{
            text-align: center;
            margin: 0px;
            padding: 0px;
            font-size: medium;
        }
        
        .cfc{
            padding: 5px 70px;
            text-align: center;
            margin: 10px 0px;
            margin-right: 20px;
            font-size: medium;
            
        }

            /* ABOUT US */

        .aboutUsContainer{
            padding: 0%;
        }

        .aboutUsTitle{
            font-size: large;
        }

        .aboutUsText{
            font-size: medium;
        }

        .calistenicsTitle, .funcionalTitle, .crossfitTitle{
            font-size: medium;
            padding: 10px;
        
        }
        
        .calistenicsText, .funcionalText, .crossfitText{
            margin: 20px;
            font-size: medium;
            line-height: 2rem;
        
        }
        
            /* CONTACT US */

            .contactTitle{
                font-size: x-large;
            }
            
            .contactForm{
                width: 100%;
                height: 340px;
                text-align: center;
                padding: 20px 0px;
            
            }
            
            .inputContact{
                width: 70%;               
            }
            
            .buttonContact{
                padding: 10px 60px;
                border: none;
            }

                    /* LOG IN */


            .LogInTitle{
                text-align: center;
                font-size: x-large;
            }

            .inputLogin{
                width: 60%;
                margin-bottom: 15px;
                padding: 8px 10px;
            }

            .submitButton{
                padding: 6px 70px;
            }
            
        }
    